.add-intern-card {
    width: 150px;
    min-height: 150px;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    background-color: blue;
    text-align: center;
    float: left
  }