.filter-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .filter-div {
      margin: 10px;
    }
    .icon-div {
      background-color: rgb(60, 84, 180);
      width: 40px;
      height: 40px;
      border-radius: 10px;
      margin-top: 7.5px;
      margin-left: 7.5px;
    }
    div {
      input {
        margin-top: 15px;
        margin-left: 15px;
      }
    }
  }
  